{% extends 'BankrotSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.showform').click(function(){
                if ($('.form').css('display') == 'block'){
                    $('.form').fadeOut();
                }else{
                    $('.form').fadeIn();
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
    <h2 class="page-header">Реестр</h2>
    <div class="infinite-scroll">
        <table class="table">
            <tr>
                <th>Дата</th>
                <th>Номер</th>
                <th>Название</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.date | date('d.m.Y') }}</td>
                    <td>{{ item.number }}</td>
                    <td>{{ item.fio }}{{ item.debtorTitle }}{{ item.organizatorTitle }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="show" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Карточка лота</h4>
                </div>
                <div class="modal-body">
                    <div class="content"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" id="tradelink">Перейти на площадку торгов</button>
                    <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
