{% extends 'BankrotSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.showform').click(function(){
                if ($('.form').css('display') == 'block'){
                    $('.form').fadeOut();
                }else{
                    $('.form').fadeIn();
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
    <h2 class="page-header">Реестр</h2>
    <ul class="nav nav-tabs nav-justified">
        <li class="{{ type == 0 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 0}) }}" >Должники</a></li>
        <li class="{{ type == 1 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 1}) }}">CPO</a></li>
        <li class="{{ type == 2 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 2}) }}">Арбитр. управ.</a></li>
        <li class="{{ type == 3 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 3}) }}">Орг. торгов</a></li>
        <li class="{{ type == 4 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 4}) }}">Торг. площадки</a></li>
        <li class="{{ type == 5 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 5}) }}">Диск. лица</a></li>
    </ul>
    <br />
    <br />

    {% if type == 0 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>Категория</th>
                <th>Должник</th>
                <th>ИНН</th>
                <th>ОГРН</th>
                <th>Регион</th>
                <th>Адрес</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.aSubCategory }}</td>
                    <td>{{ item.aFullTitle }}</td>
                    <td>{{ item.aInn }}</td>
                    <td>{{ item.aOgrn }}</td>
                    <td>{{ item.aRegion }}</td>
                    <td>{{ item.aAdrs }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 1 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>Рег. Номер</th>
                <th>Наименование СРО</th>
                <th>Управляющих</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.bNumber }}</td>
                    <td>{{ item.bTitle }}</td>
                    <td>{{ item.bCountManager }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 2 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>ФИО</th>
                <th>Рег. номер</th>
                <th>Дата<br />регистрации</th>
                <td>СРО</td>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.cLastName }} {{ item.cFirstName }} {{ item.cSurName }}</td>
                    <td>{{ item.cNumber }}</td>
                    <td>{{ item.cCpo }}</td>
                    <td>{{ item.cDate }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 3 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>Наименование</th>
                <th>Регион</th>
                <th>Адрес</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.dFullTitle }}</td>
                    <td>{{ item.dRegion }}</td>
                    <td>{{ item.dAdrs }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 4 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>Площадка</th>
                <th>Сайт</th>
                <th>Адрес</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.eTitle }}</td>
                    <td>{{ item.eSite }}</td>
                    <td>{{ item.eFullTitle  }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 5 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>ФИО</th>
                <th>Организация</th>
                <th>Должность</th>
                <th>Дата начала дисквалификации</th>
                <th>Дата окончания дисквалификации</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.fFio }}</td>
                    <td>{{ item.fworkPlace }}</td>
                    <td>{{ item.fPost  }}</td>
                    <td>{{ item.fDateStart | date('d.m.Y')  }}</td>
                    <td>{{ item.fDateEnd  | date('d.m.Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <nav>
        {{ knp_pagination_render(pagination) }}
    </nav>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="show" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Карточка лота</h4>
                </div>
                <div class="modal-body">
                    <div class="content"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" id="tradelink">Перейти на площадку торгов</button>
                    <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
