<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="{{ _charset }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>{% block title '' %}</title>

    {% block stylesheets %}
        <!--<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css"/>-->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css"/>

        {% stylesheets filter='cssrewrite, ?yui_css'


        'bundles/bankrotsite/css/jQueryFormStyler.css'
        'vendor/Bootflat/css/bootstrap.min.css'
        'vendor/Bootflat/css/site.min.css'
        'vendor/fontawesome/css/font-awesome.min.css'
        'bundles/bankrotsite/css/layout.css'
        'bundles/bankrotsite/css/theme.css'%}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <style>
            .navbar-default{
                background: url('/bundles/bankrotsite/images/header.png') repeat-x !important;
            }
            .footer{
                background: url('/bundles/bankrotsite/images/footer.png') repeat-x !important;
            }
            .navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
                color: #FFFFFF !important;
            }
            .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
                background-color: #FFF !important;
                color: #013D3D !important;
            }
            .navbar.navbar-default.navbar-fixed-top .container .navbar-nav>li.last{
                font-size: 18px;
                font-weight: bold;
            }
            .navbar-nav>li.last a, .navbar-nav>li.last a:hover{
                padding-right: 2px;
            }
            .container .nav.navbar-nav{
                /*padding: 3px;*/
            }
            .navbar-right .btn{
                margin-top: 8px;
            }
            .navbar.navbar-inverse.navbar-fixed-top{
                margin-top: 56px;
            }

        </style>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                <img src="{{ asset('bundles/bankrotsite/images/Lot-logo.png') }}" style="width: 150px;margin-top: -7px;">
            </a>
        </div>
        <div class="navbar-right">
            {% if is_granted('ROLE_USER') %}
                {{ knp_menu_render('auth', { currentClass: 'active' }) }}
            {% else %}
                {{ knp_menu_render('main', { currentClass: 'active' }) }}
            {% endif %}
        </div>
    </div>
</nav>

{% block content_wrapper %}
    <main class="container" style="padding-bottom: 50px;">
        {% block content '' %}
        <br />
        <br />
        <br />
        <br />
    </main>
{% endblock %}
<div class="footer">
    <footer class="container">
        <p class="footer-copyright text-center">&copy; Организация, 2015. Все права защищены</p>
    </footer>
</div>

{% block javascripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {% javascripts filter='?closure'
    'vendor/Bootflat/js/jquery-1.10.1.min.js'
    'vendor/Bootflat/js/site.min.js'
    'vendor/Bootflat/bootflat/js/icheck.min.js'
    'vendor/Bootflat/bootflat/js/jquery.fs.selecter.min.js'
    'vendor/Bootflat/bootflat/js/jquery.fs.stepper.min.js'
    'vendor/jquery.inputmask/dist/jquery.inputmask.bundle.min.js'
    'bundles/bankrotsite/js/layout.js'
    'bundles/bankrotsite/js/jQueryFormStyler.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function(){
            $('input[type="file"]').styler()
        });
    </script>
{% endblock %}

{% block footer %}
{% endblock %}
</body>
</html>
