{% extends 'BankrotSiteBundle::layout.html.twig' %}

{% block content %}
<form name="lot" method="post" action="">
<h1 class="lead">Добавление нового лота</h1>

<fieldset>
    <div class="row">
        {{ form_errors(form) }}
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.name) }}
            <div class="row">
                <div class="col-sm-8">{{ form_row(form.category) }}</div>
            </div>
            <div class="row">
                <div class="col-sm-8">{{ form_row(form.url) }}</div>
            </div>
            <div class="row">
                <div class="col-sm-8">{{ form_row(form.phone) }}</div>
            </div>
            <div class="row">
                <div class="col-sm-6">{{ form_row(form.price) }}</div>
            </div>
            {{ form_row(form.address) }}
            {{ form_row(form.description) }}
            <div class="row">
                <div class="col-sm-6">{{ form_row(form.livePeriod) }}</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="alert alert-warning">
                <p> После того, как вы заполните поля и сохраните информацию, лот автоматически перейдет в графу «неактивные». Для того чтобы начать отслеживать лот, необходимо ввести рассчетные данные, и выбрать дату покупки в раскрывшемся календаре.
                    <br />
                    <br />
                    Найти отслеживаемый лот вы сможете во вкладке «активные»
                </p>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Ценообразование</legend>
    <div class="row">
        <div class="col-sm-3">{{ form_row(form.initialPrice) }}</div>
        <div class="col-sm-3">
            <div class="form-group {{ ((form.cutOffPrice.vars.errors|length) > 0
                    or (form.cutOffPricePercent.vars.errors|length) > 0) ? 'has-error' : '' }} ">
                <label class="control-label">Стоимость отсечения</label>
                {{ form_widget(form.cutOffPrice) }}
                {{ form_widget(form.cutOffPricePercent) }}
                {{ form_errors(form.cutOffPrice) }}
                {{ form_errors(form.cutOffPricePercent) }}
            </div>
            <div class="form-group">
                <select class="form-control" data-toggle-control-visible>
                    <option {{ form.cutOffPrice.vars.value ? 'selected' : '' }} value="{{ form.cutOffPrice.vars.id }}">
                        значение указано в рублях
                    </option>
                    <option {{ form.cutOffPricePercent.vars.value ? 'selected' : '' }} value="{{ form.cutOffPricePercent.vars.id }}">
                        значение указано в процентах от начальной стоимости
                    </option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group {{ ((form.depositPrice.vars.errors|length) > 0
                    or (form.depositPricePercent.vars.errors|length) > 0
                    or (form.depositPricePercentCurrent.vars.errors|length) > 0) ? 'has-error' : '' }} ">
                <label class="control-label">Задаток</label>
                {{ form_widget(form.depositPrice) }}
                {{ form_widget(form.depositPricePercent) }}
                {{ form_widget(form.depositPricePercentCurrent) }}
                {{ form_errors(form.depositPrice) }}
                {{ form_errors(form.depositPricePercent) }}
                {{ form_errors(form.depositPricePercentCurrent) }}
            </div>
            <div class="form-group">
                <select class="form-control" data-toggle-control-visible>
                    <option {{ form.depositPrice.vars.value ? 'selected' : '' }} value="{{ form.depositPrice.vars.id }}">
                        значение указано в рублях
                    </option>
                    <option {{ form.depositPricePercent.vars.value ? 'selected' : '' }} value="{{ form.depositPricePercent.vars.id }}">
                        значение указано в процентах от начальной стоимости
                    </option>
                    <option {{ form.depositPricePercentCurrent.vars.value ? 'selected' : '' }} value="{{ form.depositPricePercentCurrent.vars.id }}">
                        значение указано в процентах от стоимости текущего периода
                    </option>
                </select>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>Порядок снижения цены</legend>
    <div class="row">
        <div  class="col-sm-2"><label>Период действия</label></div>
        <div class="col-sm-3">
            <div class="form-group">{{ form_widget(form.newDropRuleLivePeriod) }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2"><label>Период</label></div>
        <div class="col-sm-3">
            <div class="form-group {{ ((form.newDropRulePeriod.vars.errors|length) > 0
                    or (form.newDropRulePeriodWork.vars.errors|length) > 0) ? 'has-error': '' }}">

                {{ form_widget(form.newDropRulePeriod) }}
                {{ form_widget(form.newDropRulePeriodWork) }}
                {{ form_errors(form.newDropRulePeriod) }}
                {{ form_errors(form.newDropRulePeriodWork) }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <select class="form-control" data-toggle-control-visible>
                    <option {{ form.newDropRulePeriod.vars.value ? 'selected' : '' }} value="{{ form.newDropRulePeriod.vars.id }}">
                        значение указано в календарных днях
                    </option>
                    <option {{ form.newDropRulePeriodWork.vars.value ? 'selected' : '' }} value="{{ form.newDropRulePeriodWork.vars.id }}">
                        значение указано в рабочих днях
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2"><label>Порядок снижения</label></div>
        <div class="col-sm-3">
            <div class="form-group {{ ((form.newDropRuleOrder.vars.errors|length) > 0
                    or (form.newDropRuleOrderCurrent.vars.errors|length) > 0) ? 'has-error': '' }}">
                {{ form_widget(form.newDropRuleOrder) }}
                {{ form_widget(form.newDropRuleOrderCurrent) }}
                {{ form_errors(form.newDropRuleOrder) }}
                {{ form_errors(form.newDropRuleOrderCurrent) }}
            </div>
        </div>
        <div class="col-sm-4" >
            <div class="form-group">
                <select class="form-control" data-toggle-control-visible>
                    <option {{ form.newDropRuleOrder.vars.value ? 'selected' : '' }} value="{{ form.newDropRuleOrder.vars.id }}">
                        значение указано в процентах от начальной стоимости
                    </option>
                    <option {{ form.newDropRuleOrderCurrent.vars.value ? 'selected' : '' }} value="{{ form.newDropRuleOrderCurrent.vars.id }}">
                        значение указано в процентах от стоимости текущего периода
                    </option>
                </select>
            </div>
        </div>
    </div>

</fieldset>
<br />
<br />
<fieldset>
    <legend>Расчет рентабельности</legend>
    <div class="row">
        <div class="col-sm-9">
            {{ form_row(form.ViewCapitalization) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            {{ form_row(form.costPurchase) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.costAcquisition) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.periodPayback) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            {{ form_row(form.minCostCapitalization) }}
        </div>
        <div class="col-sm-3">
            {{ form_row(form.maxCostCapitalization) }}
        </div>
        <div class="col-sm-3">
            <div id="formula" style="height: 80px;display: table-cell;vertical-align: middle;"></div>
        </div>
    </div>
</fieldset>

<hr/>

<div class="form-group">
    <button class="btn btn-primary" type="submit">Создать лот</button>
</div>

    {#<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">#}
    {{ form_widget(form._token) }}

{#<div class="hidden">#}
    {#{{ form_rest(form) }}#}
{#</div>#}

</form>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            formula();
        });
        $('#lot_costPurchase').keyup(function(){formula()});
        $('#lot_costAcquisition').keyup(function(){formula()});
        $('#lot_minCostCapitalization').keyup(function(){formula()});
        $('#lot_maxCostCapitalization').keyup(function(){formula()});

        function formula(){
            var error = false ;
            var f1 = '';
            var f2 = '';
            if ($('#lot_costPurchase').val() == '' ){ error = true }
            if ($('#lot_costAcquisition').val() == '' ){ error = true }
            if ($('#lot_minCostCapitalization').val() == '' ){ error = true }
            if ($('#lot_maxCostCapitalization').val() == '' ){ error = true }
            if (error == false){
                f1 = parseInt($('#lot_minCostCapitalization').val())/(parseInt($('#lot_costPurchase').val())+parseInt($('#lot_costAcquisition').val()))*100-100;
                f1 = parseFloat(f1);
                f2 = parseInt($('#lot_maxCostCapitalization').val())/(parseInt($('#lot_costPurchase').val())+parseInt($('#lot_costAcquisition').val()))*100-100;
                f2 = parseFloat(f2);
                $('#formula').html('<span class="text-primary" style="font-size: 18px">Минимальная = '+f1+'%<br />Максимальная = '+f2+'%</span>');
            }else{
                $('#formula').html('<span class="text-danger">Данные для формулы не корректны</span>');            }
        }
    </script>
{% endblock %}