<hr />
<div class="itemDropRule" data-id="{{ number }}">
    <div class="row">
        <div class="col-xs-3"><label>Продолжительность периода</label></div>
        <div class="col-sm-2">
            <div class="form-group ">
                <input type="text" id="lot_newDropRulePeriod_{{ number }}" name="newDropRulePeriod[{{ number }}]" placeholder="Введите период" class="form-control">
                <input type="hidden" id="lot_newDropRulePeriodWork_{{ number }}" name="newDropRulePeriodWork[{{ number }}]" placeholder="Введите период" class="form-control" value="0">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <select class="form-control" data-toggle-control-visible="" tabindex="-1">
                    <option value="lot_newDropRulePeriod_{{ number }}">
                        значение указано в календарных днях
                    </option>
                    <option value="lot_newDropRulePeriodWork_{{ number }}">
                        значение указано в рабочих днях
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3"><label>Ведичина снижения - на </label></div>
        <div class="col-sm-2">
            <div class="form-group ">
                <input type="text" id="lot_newDropRuleOrder_{{ number }}" name="newDropRuleOrder[{{ number }}]" placeholder="Введите порядок снижения" class="form-control">
                <input type="hidden" id="lot_newDropRuleOrderCurrent_{{ number }}" name="newDropRuleOrderCurrent[{{ number }}]" placeholder="Введите порядок снижения" class="form-control" value="0">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <select class="form-control" data-toggle-control-visible="" tabindex="-1">
                    <option value="lot_newDropRuleOrder_{{ number }}">
                        значение указано в процентах от начальной стоимости
                    </option>
                    <option value="lot_newDropRuleOrderCurrent_{{ number }}">
                        значение указано в процентах от стоимости текущего периода
                    </option>
                </select>
            </div>
        </div>
    </div>
    Данный порядок действует до
    <div class="row">
        <div class="col-xs-1"><input type="radio" name="typeEnd[{{ number }}]" value="0" style=" width: 18px;height: 18px;"  class="typeEnd"></div>
        <div class="col-xs-5">окончания торгов </div>
    </div>
    <div class="row">
        <div class="col-xs-1"><input type="radio" name="typeEnd[{{ number }}]" value="1" style=" width: 18px;height: 18px;" class="typeEnd"></div>
        <div class="col-xs-2">снижения цены на  </div>
        <div class="col-xs-1"><input type="text" class="form-control" name="newDropRulePercentPeriod[{{ number }}]"></div>
        <div class="col-xs-4">% от начальной стоимости</div>

    </div>
    <br />
    <br />

</div>