{% extends 'BankrotSiteBundle::layout_mini.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#boxCancel').click(function(){
                $('.box').fadeOut();
            });
            $('.calendar td').click(function(){
                var date = $(this).attr('data-date');
                var price = $(this).attr('data-price');
                var item  = $(this);

                $('#box-date').val(date);
                $('#box-price').val(price);
                $('.box').fadeIn();

            });

            $('#boxOk').click(function(){
                var date = $('#box-date').val();
                var price = $('#box-price2').val();
                $.ajax({
                    url: Routing.generate('add_lot_show', {'lotId': {{ lot.id }}}),
                    data: 'date='+date+'&price='+price,
                    type: 'POST',
                    success: function(html){
                        if (html == 'add'){
                            window.location.reload();
                        }
//                        else{
//                            item.removeClass('showLot');
//                        }
                    }
                });
            })
        })
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<style>
    .showLot{
        background: #0782C1;
    }
    .calendar {
        border-collapse: collapse;
        width:           92%;
        margin:          0 auto;
    }
    .calendar, .calendar td, .calendar th {
        border: 1px solid #A9A9A9;
    }
    .calendar td, .calendar th {
        padding: 5px;
        width:   14%;
        height:  35px;
    }
    .calendar_cell_full {
        background-color: #D5FFFF;
    }
    .calendar_cell_full:hover {
        background-color: #0093A1;
    }
    .calendar_cell_full:hover a {
        color: #D5FFFF;
    }
    .calendar_day_link {
        text-decoration: none;
        display:         block;
        height:          100%;
    }
    #specialty, #specialization {
        width: 240px;
    }
    #yearlist {
        width: 60px;
    }
    #monthlist {
        width: 100px;
    }
    #goCalendar {
        vertical-align: bottom;
        display:        inline-block;
        margin-top:     8px;
    }
    .filters {
        margin-top: 10px;
    }
    .filters td {
        padding-left: 23px;
    }
    .filters .header td, .filter-title {
        font-weight: bold;
        color:       #476173;
    }
    .events-ul {
        list-style-type: none;
        padding-left:    0px;
        margin:          0;
    }
    .events-title {
        margin: 15px 0 5px;
        font-weight: bold;
    }
    .lineForEvenets {
        width:100%;
        height:20px;
        border:1px solid black;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,0093a1+100 */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(left,  #ffffff 0%, #0093a1 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#0093a1)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #ffffff 0%,#0093a1 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #ffffff 0%,#0093a1 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #ffffff 0%,#0093a1 100%); /* IE10+ */
        background: linear-gradient(to right,  #ffffff 0%,#0093a1 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#0093a1',GradientType=1 ); /* IE6-9 */
    }
    .titleLine {
        font-weight: bold;
        color: #476173;
    }
    .indicatorHelper0 {
        position: absolute;
        bottom:-15px;
        left:1%;
    }
    .indicatorHelper2 {
        position: absolute;
        bottom:-15px;
        left:23%;
    }
    .indicatorHelper5 {
        position: absolute;
        bottom:-15px;
        left:47%;
    }
    .indicatorHelper7 {
        position: absolute;
        bottom:-15px;
        left:73%;
    }
    .indicatorHelper10 {
        position: absolute;
        bottom:-15px;
        left:93%;
    }
    .fiveEvent {
        background-color: #0997a5;
    }

    .fourEvent {
        background-color: #3dadb8;
    }

    .threeEvent {
        background-color: #80c9d0;
    }

    .twoEvent {
        background-color: #bee4e7;
    }

    .oneEvent {
        background-color: #d9eef1;
    }
    .calendar{
        background: #bee4e7 !important;
        color: #044F67;
    }
    .calendar .red{
        background: #e8d5d5 !important;
    }
    .calendar .showLot{
        background: #0782C1 !important;
    }
    .calendar td{
        cursor: pointer;
    }
    .box{
        width: 300px;
        padding: 10px;
        border: 1px solid #CCC;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 168px;
        z-index: 999;
        background-color: #D4D4D4;
        margin-left: -150px;
        display: none;
    }
</style>
{% endblock %}

{% block content %}
    <h2 class="page-header">Календарь</h2>


    <table style="width: 100%">
        <tr>
            <td>
                <a style="float: left" class="no-underline"
                   href="{{ path('calendar', { 'lotId': lot.id, 'year': prevMonthYear, 'month': prevMonth}) }}">&larr;
                    Предыдущий месяц</a>
            </td>
            <td style="font-size: 20px">{{ monthName | lower }} {{ year }}</td>
            <td>
                <a style="float: right" class="no-underline"
                   href="{{ path('calendar', { 'lotId': lot.id, 'year': nextMonthYear, 'month': nextMonth}) }}">Следующий
                    месяц &rarr;</a>
            </td>
        </tr>
    </table>
    <p style="overflow: hidden;">



    </p>
    <table class="calendar">
        <tr>
            <th>Понедельник</th>
            <th>Вторник</th>
            <th>Среда</th>
            <th>Четверг</th>
            <th>Пятница</th>
            <th class="red">Суббота</th>
            <th class="red">Воскресенье</th>
        </tr>

        {% set break = false %}

        {% for row in calendar if not break %}
            <tr>
                {% for day in row %}
                    {% if day %}
                        <!--
							{% if day['events'] | length == 0 %}
							<td class="{{ loop.index > 5 ? ' red' }}">
							{% elseif day['events'] | length >= 10 %}
							<td class="{{ day ? (day['events'] ? 'calendar_cell_full fiveEvent') }}{{ loop.index > 5 ? ' red' }}">
							{% elseif day['events'] | length >= 7 %}
							<td class="{{ day ? (day['events'] ? 'calendar_cell_full fourEvent') }}{{ loop.index > 5 ? ' red' }}">
							{% elseif day['events'] | length >= 5 %}
							<td class="{{ day ? (day['events'] ? 'calendar_cell_full threeEvent') }}{{ loop.index > 5 ? ' red' }}">
							{% elseif day['events'] | length >= 2 %}
							<td class="{{ day ? (day['events'] ? 'calendar_cell_full twoEvent') }}{{ loop.index > 5 ? ' red' }}">
							{% elseif day['events'] | length >= 1 %}
							<td class="{{ day ? (day['events'] ? 'calendar_cell_full oneEvent') }}{{ loop.index > 5 ? ' red' }}">
							{% endif %}
							-->
                    <td class="{{ day ? (day['events'] ? 'calendar_cell_full') }}{{ loop.index > 5 ? ' red' }}" data-date="{{ (nextMonthYear)~'-'~(nextMonth-1)~'-'~day['number'] }}"
                        data-price="{% if day is defined and day['price'] is defined  %}{{ day['price'] }}{% else %}0{% endif %}">
                        {% if day['events'] %}
                            *
                        {% endif %}

                            {{ day['number'] }}
                            {% if day['events'] %}*{% endif %}
                        {% else %}
                        <td class="{{ loop.index > 5 ? ' red' }}">
                    {% endif %}
                    </td>
                    {% if day is null %}
                        {% set break = true %}
                    {% else %}
                        {% set break = false %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <br />
    <br />
    <div class="box">
        <div class="form-group">
            <label>Дата</label>
            <input id="box-date" class="form-control" value="" disabled="disabled">
        </div>
        <div class="form-group">
            <label>Цена</label>
            <input id="box-price" class="form-control" value="" disabled="disabled">
        </div>
        <div class="form-group">
            <label>Цена своя</label>
            <input id="box-price2" class="form-control" value="">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" id="boxOk">Сохранить</button>
            <button class="btn btn-danger" type="submit" id="boxCancel">Отмена</button>
        </div>
    </div>


{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="show" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Карточка лота</h4>
                </div>
                <div class="modal-body">
                    <div class="content"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" >Перейти на площадку торгов</button>
                    <button class="btn btn-default" data-dismiss="modal" >Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
