{% extends 'BankrotSiteBundle::layout.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <a href="{{ path('lots_edit', { id: lot.id }) }}" class="btn btn-link pull-right"><i class="fa fa-pencil"></i> Редактировать</a>
    <h1 class="lead"><a href="#" class="fa fa-chevron-circle-left"></a> {{ lot.name }}</h1>

    <fieldset>
        <div class="row">
            <div class="col-sm-6">
                {{ form_row(form.name) }}
                <div class="row">
                    <div class="col-sm-8">
                        {{ form_row(form.category) }}
                        {{ form_row(form.url) }}
                        {{ form_row(form.phone) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">{{ form_row(form.price) }}</div>
                </div>
                {{ form_row(form.address) }}
                {{ form_row(form.description) }}
                <div class="row">
                    <div class="col-sm-6">
                        {#{{ form_row(form.livePeriod) }}#}
                        <input class="form-control" value="{{ (lot.beginDate|date('d.m.Y'))~' - '~(lot.endDate|date('d.m.Y')) }}" disabled/>
                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-8">
                        {{ form_row(form.lotStatus) }}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <br />
    <br />
    <fieldset>
        <legend>Ценообразование</legend>
        <div class="row">
            <div class="col-sm-3">{{ form_row(form.initialPrice) }}</div>
            <div class="col-sm-3">
                <div class="form-group {{ ((form.cutOffPrice.vars.errors|length) > 0
                or (form.cutOffPricePercent.vars.errors|length) > 0) ? 'has-error' : '' }} ">
                    <label class="control-label">Стоимость отсечения</label>
                    {{ form_widget(form.cutOffPrice) }}
                    {{ form_widget(form.cutOffPricePercent) }}
                    {{ form_errors(form.cutOffPrice) }}
                    {{ form_errors(form.cutOffPricePercent) }}
                </div>
                <div class="form-group">
                    <select disabled class="form-control" data-toggle-control-visible>
                        <option {{ form.cutOffPrice.vars.value ? 'selected' : '' }} value="{{ form.cutOffPrice.vars.id }}">
                            значение указано в рублях
                        </option>
                        <option {{ form.cutOffPricePercent.vars.value ? 'selected' : '' }} value="{{ form.cutOffPricePercent.vars.id }}">
                            значение указано в процентах от начальной стоимости
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group {{ ((form.depositPrice.vars.errors|length) > 0
                or (form.depositPricePercent.vars.errors|length) > 0
                or (form.depositPricePercentCurrent.vars.errors|length) > 0) ? 'has-error' : '' }} ">
                    <label class="control-label">Задаток</label>
                    {{ form_widget(form.depositPrice) }}
                    {{ form_widget(form.depositPricePercent) }}
                    {{ form_widget(form.depositPricePercentCurrent) }}
                    {{ form_errors(form.depositPrice) }}
                    {{ form_errors(form.depositPricePercent) }}
                    {{ form_errors(form.depositPricePercentCurrent) }}
                </div>
                <div class="form-group">
                    <select disabled class="form-control" data-toggle-control-visible>
                        <option {{ form.depositPrice.vars.value ? 'selected' : '' }} value="{{ form.depositPrice.vars.id }}">
                            значение указано в рублях
                        </option>
                        <option {{ form.depositPricePercent.vars.value ? 'selected' : '' }} value="{{ form.depositPricePercent.vars.id }}">
                            значение указано в процентах от начальной стоимости
                        </option>
                        <option {{ form.depositPricePercentCurrent.vars.value ? 'selected' : '' }} value="{{ form.depositPricePercentCurrent.vars.id }}">
                            значение указано в процентах от стоимости текущего периода
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Порядок снижения цены</legend>
        {% for dropRule in lot.dropRules %}
            <div class="row" data-root>
                <div class="row">
                    <div class="col-xs-2"><label>Период</label></div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input class="form-control" value="{{ dropRule.period~dropRule.periodWork }}" disabled/>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <select class="form-control" disabled>
                                <option>{{ dropRule.period ? 'значение указано в календарных днях' : 'значение указано в рабочих днях' }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2"><label>Порядок снижения</label></div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input class="form-control" value="{{ dropRule.order~dropRule.orderCurrent }}" disabled/>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            <select class="form-control" disabled>
                                <option>{{ dropRule.order ? 'значение указано в процентах от начальной стоимости' : 'значение указано в процентах от стоимости текущего периода' }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2"><label>Период действия</label></div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <input class="form-control" value="{{ (dropRule.beginDate|date('d.m.Y'))~' - '~(dropRule.endDate|date('d.m.Y')) }}" disabled/>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </fieldset>
    <br />
    <br />
    <fieldset>
        <legend>Расчет рентабельности</legend>
        <div class="row">
            <div class="col-sm-9">
                {{ form_row(form.ViewCapitalization) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                {{ form_row(form.costPurchase) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.costAcquisition) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.periodPayback) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                {{ form_row(form.minCostCapitalization) }}
            </div>
            <div class="col-sm-3">
                {{ form_row(form.maxCostCapitalization) }}
            </div>
            <div class="col-sm-3">
                <div id="formula" style="height: 80px;display: table-cell;vertical-align: middle;"></div>
            </div>
        </div>
    </fieldset>

    <div class="hidden">
        {{ form_rest(form) }}
    </div>

    {{ form_end(form) }}

    <br />
    <br />
    <fieldset>
        <legend>Задачи </legend>
        <div class="col-xs-6">
            <form method="POST" action="{{ path('task_add') }}">
                <div class="form-group">
                    <label>Задача:&nbsp;</label>
                    <input type="text" class="form-control" name="title" id="task" required>
                    <input type="hidden" name="lot" value="{{ lot.id }}">
                </div>
                <div class="form-inline">
                    <label>Дата:&nbsp;</label>
                    <input type="text" class="form-control" name="date" id="date" data-inputmask="99.99.9999">
                    <button class="btn btn-primary" style="float: right">Создать</button>
                </div>
            </form>
        </div>
        <div class="col-xs-6">
            <div class="tasks">
                {% for t in tasks %}
                    <div class="form-group" style="border-bottom: 1px solid #CCC" >
                        <input type="checkbox" class="" value="{{ t.id }}" {{ t.isSuccess == true ? 'checked="checked"' : ''}} />
                        {% if t.date %}
                            {{ t.date |date('d.m.Y') }}:
                        {% endif %}
                        &nbsp;<span class="{{ t.isSuccess == true ? 'closedTask' : ''}}">{{ t.title }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </fieldset>

    <script>
        function resizeIframe(iframe) {
            iframe.height = iframe.contentWindow.document.body.scrollHeight + "px";
        }
    </script>
    {% if lot.dropRules | length > 0 %}
        <iframe id="iframe-calendar" onload="resizeIframe(this)" src="{{ path('calendar',{'lotId' : lot.id }) }}" width="100%" height="800" style="border: 0; overflow: hidden" scrolling="no"></iframe>
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            formula();
        });
        $('#lot_costPurchase').keyup(function(){formula()});
        $('#lot_costAcquisition').keyup(function(){formula()});
        $('#lot_minCostCapitalization').keyup(function(){formula()});
        $('#lot_maxCostCapitalization').keyup(function(){formula()});

        function formula(){
            var error = false ;
            var f1 = '';
            var f2 = '';
            if ($('#lot_costPurchase').val() == '' ){ error = true }
            if ($('#lot_costAcquisition').val() == '' ){ error = true }
            if ($('#lot_minCostCapitalization').val() == '' ){ error = true }
            if ($('#lot_maxCostCapitalization').val() == '' ){ error = true }
            if (error == false){
                f1 = parseInt($('#lot_minCostCapitalization').val())/(parseInt($('#lot_costPurchase').val())+parseInt($('#lot_costAcquisition').val()))*100-100;
                f1 = parseFloat(f1).toFixed(2);
                f2 = parseInt($('#lot_maxCostCapitalization').val())/(parseInt($('#lot_costPurchase').val())+parseInt($('#lot_costAcquisition').val()))*100-100;
                f2 = parseFloat(f2).toFixed(2);
                $('#formula').html('<span class="text-primary" style="font-size: 18px">Минимальная = '+f1+'%<br />Максимальная = '+f2+'%</span>');
            }else{
                $('#formula').html('<span class="text-danger">Данные для формулы не корректны</span>');            }
        }

        $(document).ready(function(){
            $('body').on('click','.tasks .form-group input', function(){
//                $(this).parent().fadeOut();
                $(this).parent().children('span').addClass('closedTask')
                $.ajax({
                    url: Routing.generate('task_remove',{'id' : $(this).val() }),
                    cache: false,
                    statusCode: {
                        403: function(){
                            alert('Ошибка связи с серверов. Попробуйте позже');
                        }
                    }
                });

            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .closedTask{
            text-decoration: line-through;
        }
    </style>
{% endblock %}


