{% extends 'BankrotSiteBundle::layout.html.twig' %}

{% block content_wrapper %}
    <div class="navbar navbar-inverse navbar-fixed-top" style="margin-top:50px">
        <div class="container">
            {{ knp_menu_render('lots', { currentClass: 'active' }) }}
            <div class="navbar-right">
                <button class="btn btn-primary navbar-btn">Добавить задачу</button>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <div class="col-xs-6">
            <div class="tasks">
                {% for t in tasks %}
                    <div class="form-group" style="border-bottom: 1px solid #CCC" >
                        <input type="checkbox" class="" value="{{ t.id }}" {{ t.isSuccess == true ? 'checked="checked"' : ''}} />
                        {% if t.date %}
                            {{ t.date |date('d.m.Y') }}:
                        {% endif %}
                        &nbsp;<span class="{{ t.isSuccess == true ? 'closedTask' : ''}}">{{ t.title }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xs-6">
            <form method="POST" action="{{ path('task_add') }}">
                <div class="form-group">
                    <label>Задача:&nbsp;</label>
                    <input type="text" class="form-control" name="title" id="task" required>
                </div>
                <div class="form-inline">
                    <label>Дата:&nbsp;</label>
                    <input type="date" class="form-control" name="date" id="date" value="">
                    <button class="btn btn-primary" style="float: right">Создать</button>
                </div>
            </form>
        </div>
        {#{% for t in tasks %}#}
            {#<div class="row" style="border-bottom: 1px solid #CCC; padding-bottom: 10px">#}
                {#<div class="col-sm-1">#}
                    {#<input type="checkbox" style="font-size: 18px;height: 20px;width: 20px;"/>#}
                {#</div>#}
                {#<div class="col-sm-2">#}
                    {#<b>Дата выполнения: </b><br />#}
                    {#<b>Дата Создания:   </b>#}
                {#</div>#}
                {#<div class="col-sm-2">#}
                    {#<b>{{ t.date | date('d.m.Y') }} </b> <br />#}
                    {#{{ t.created | date('d.m.Y') }}#}
                {#</div>#}
                {#<div class="col-sm-5">{{ t.title }}</div>#}
            {#</div>#}
        {#{% endfor %}#}
    </div>




{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .closedTask{
            text-decoration: line-through;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('body').on('click','.tasks .form-group input', function(){
//                $(this).parent().fadeOut();
                $(this).parent().children('span').addClass('closedTask')
                $.ajax({
                    url: Routing.generate('task_remove',{'id' : $(this).val() }),
                    cache: false,
                    statusCode: {
                        403: function(){
                            alert('Ошибка связи с серверов. Попробуйте позже');
                        }
                    }
                });

            });
        });
    </script>
{% endblock %}