{% extends "FOSUserBundle::layout2.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_header %}Вход{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger">
            <ul class="list-unstyled">
                <li>
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-xs-6">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                <div class="form-group">
                    <label class="control-label required" for="username">Логин</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                           autofocus required placeholder="Введите имя пользователя"/>
                </div>

                <div class="form-group">
                    <label class="control-label required" for="password">Пароль</label>
                    <input class="form-control" type="password" id="password" name="_password"
                           required placeholder="Введите пароль"/>
                </div>

                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="_remember_me" value="on"/>
                            Запомнить
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit"
                           value="Вход"/>

                    <a class="btn btn-link" href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                </div>
            </form>
        </div>
        <div class="col-xs-6">
            <b>У Вас нет аккаунта? </b><br />
            <a href="{{ path('fos_user_registration_register') }}">Зарегистрироваться</a>
        </div>
    </div>
{% endblock fos_user_content %}