{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block page_header %}Восстановление пароля{% endblock %}

{% block fos_user_content %}
    <p>{{ 'resetting.password_already_requested'|trans }}</p>

    <p>
        Вы будете перемещены на <a href="{{ path('home') }}">главную страницу</a> через
        <span data-timer="5" data-timer-id="#timer-target" data-timer-href="{{ path('home') }}">
            <span id="timer-target">5 секунд</span>
        </span>
    </p>
{% endblock fos_user_content %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?closure' 'bundles/bankrotsite/js/timer.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}