{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group {% if invalid_username is defined %}has-error{% endif %}">
        <label class="control-label" for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="username"
               autofocus required placeholder="Введите имя пользователя"/>
        {% if invalid_username is defined %}
            <span class="help-block">
            <ul class="list-unstyled">
                <li>
                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                    {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
                </li>
            </ul>
            </span>
        {% endif %}
    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}"/>

        <a class="btn btn-link" href="{{ path('fos_user_security_login') }}">Отмена</a>
    </div>
</form>