{% extends 'BankrotSiteBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?closure' 'bundles/bankrotsite/js/Default/index.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <style>
        .tr td{
            cursor: pointer;
        }
    </style>
    <h2 class="page-header">Мониторинг</h2>
    <div class="form-group row">
        <form method="GET">
            <div class="col-xs-1">
                <label style="font-size: 16px;padding-top: 6px;">Поиск</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="search" placeholder="Введите текст для поиска" value="{{ search ? search : '' }}">
            </div>
            <div class="col-xs-2" style="text-align: right">
                <input class="btn btn-primary" type="submit"  value="Найти" style="width: 122px">
            </div>
        </form>
    </div>
    <div class="infinite-scroll">
        <table class="table table-hover" id="lots">
            <thead>
            <tr>
                <th>Номер торгов</th>
                <th>Дата торгов</th>
                <th>Дата размещения заявки в ЕФРСБ</th>
                <th>Площадка</th>
                <th>Должник</th>
                <th>Вид торгов</th>
                <th>Форма подачи предложения о цене</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tbody>
            {% for lot in lots %}
                <tr class="tr" data-href="{{ path('lot', { id: lot.id }) }}" data-tradelink="{{ lot.area.link }}" title="
                {#{{ dump(lot.contents) }}#}
                {% for attr in lot.contents %}
                    {{ attr.val|nl2br| striptags|slice(0, 255) }}
                {% endfor %}
                ">
                    <td>{{ lot.number }}</td>
                    <td>{{ lot.bidAt| date('d.m.Y') }}</td>
                    <td>{{ lot.createdAt| date('d.m.Y')  }}</td>
                    <td>{{ lot.area.name }}</td>
                    <td>{{ lot.debtor ? lot.debtor.name : '' }}</td>
                    <td>{{ lot.type.name }}</td>
                    <td>{{ lot.priceType.name }}</td>
                    <td>{{ lot.status.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav>
            {{ knp_pagination_render(lots) }}
        </nav>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="show" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Карточка лота</h4>
                </div>
                <div class="modal-body">
                    <div class="content"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" id="tradelink">Перейти на площадку торгов</button>
                    <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
