{% extends "BankrotSiteBundle::layout.html.twig" %}

{% block content %}
    <h1 class="page-header">Подписка</h1>

    <br />
    <br />
    <div class="row">
        <div class="col-xs-6">
            {{ form_widget(form) }}
        </div>
        <div class="col-xs-6">
            <br />
            <h4>Стоимость <span id="price">3000</span> рублей</h4>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <h4>История платежей</h4>
        <table class="table" style="width: 100%">
            <tr>
                <th>Дата</th>
                <th>Кол-во месяцев</th>
                <th>Стоимость</th>
            </tr>
            {% for s in subscriptions %}
            <tr>
                <th>{{ s.created | date('d.m.Y') }}</th>
                <th>{{ s.count }}</th>
                <th>{{ s.price }}</th>
            </tr>
            {% else %}
                <tr>
                    <td colspan="3">Оплат не найдено</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
           $('#form_count').change(function(){
               if ($('#form_count').val() == '1'){
                   $('#price').html('3000');
               }
               if ($('#form_count').val() == '3'){
                   $('#price').html('7500');
               }
               if ($('#form_count').val() == '6'){
                   $('#price').html('9000');
               }
               if ($('#form_count').val() == '12'){
                   $('#price').html('12000');
               }
            });
        });
    </script>
{% endblock %}