Здравствуйте, {{ user.lastName }} {{ user.firstName }} {{ user.surName }}!
<br />
<br />
Отслеживаемый лот <b>{{ lot.name }}</b> <br />
перешел в  <b>{{ status }}</b> период <br />
Дата покупки лота <b>{{ lw.day|date('d.m.Y') }}</b>

<br />
<br />
Для подробного просмотра перейдите на <a href="http://lotbankrot.org/lots" target="_blank">сайт</a>
