<div class="well navtitle">
    <h2 class="modal-title">Навигация</h2>
    <ul class="nav list-group">
        <li class="">
            <a href="{{ path('admin_page_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Страницы сайта
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_user_list') }}">
                <i class="glyphicon glyphicon-user"></i>
                Пользователи
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_notify') }}">
                <i class="glyphicon glyphicon-inbox"></i>
                Сообщение
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_forumquestion_list') }}">
                <i class="glyphicon glyphicon-question-sign"></i>
                Вопросы форума
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_forumanswer_list') }}">
                <i class="glyphicon glyphicon-hand-up"></i>
                Ответы форума
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_registry_list') }}">
                <i class="glyphicon glyphicon-warning-sign"></i>
                Подозрительные торги
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_arbitration_list') }}">
                <i class="glyphicon glyphicon-warning-sign"></i>
                Арбитр. управляющие
            </a>
        </li>

    </ul>
</div>