{% extends 'BankrotSiteBundle::layout.html.twig' %}

{% block title %} Полный реестр ЭТП | СРО | арбитражные управляющие | победители торгов | должники | организаторы торгов | Инвестконсалт{% endblock %}
{% block desc  %} Самый полный реестр арбитражный управляющих, СРО, ЭТП, организаторов торгов и предприятий банкротов{% endblock %}
{% block keys  %} банкротство, аукционы по банкротству, торговая площадка, этп, реестр сро, предприятия банкроты, победители торгов, сро, организации банкроты, инвестконсалт, лотбанкрот, lotbankrot{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.showform').click(function(){
                if ($('.form').css('display') == 'block'){
                    $('.form').fadeOut();
                }else{
                    $('.form').fadeIn();
                }
            })
        })
    </script>
{% endblock %}

{% block content %}
    <h2 class="page-header">Реестры</h2>
    <div class="form-group row">
        <form method="GET">
            <div class="col-xs-1">
                <label style="font-size: 16px;padding-top: 6px;">Поиск</label>
            </div>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="search" placeholder="Введите текст для поиска" value="{{ search ? search : '' }}">
            </div>
            <div class="col-xs-2" style="text-align: right">
                <input class="btn btn-primary" type="submit"  value="Найти" style="width: 122px">
            </div>
        </form>
    </div>
    <ul class="nav nav-tabs nav-justified">
        <li class="{{ type == 0 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 0}) }}{{ search ? '?search='~search : '' }}" >Должники</a></li>
        <li class="{{ type == 1 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 1}) }}{{ search ? '?search='~search : '' }}">CPO</a></li>
        <li class="{{ type == 2 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 2}) }}{{ search ? '?search='~search : '' }}">Арбитр. управ.</a></li>
        <li class="{{ type == 3 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 3}) }}{{ search ? '?search='~search : '' }}">Орг. торгов</a></li>
        <li class="{{ type == 4 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 4}) }}{{ search ? '?search='~search : '' }}">Торг. площадки</a></li>
        <li class="{{ type == 7 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 7}) }}{{ search ? '?search='~search : '' }}">Победители торгов</a></li>
        {#<li class="{{ type == 5 ? 'active' : '' }}"><a href="{{ path('reestr_list',{'type' : 5}) }}{{ search ? '?search='~search : '' }}">Диск. лица</a></li>#}
    </ul>
    <br />
    <br />

    {% if type == 0 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>Категория</th>
                <th>Должник</th>
                <th>ИНН</th>
                <th>ОГРН</th>
                <th>Регион</th>
                <th>Адрес</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.aSubCategory }}</td>
                    <td>
                        {% if is_granted('ROLE_SUBSCRIPTION') %}
                            <a href="{{ path('reestr_show',{'type' : item.category, 'id' : item.id}) }}">
                                {{ item.aFullTitle }}
                            </a>
                        {% else %}
                            <a href="#" style="cursor: not-allowed">
                                {{ item.aFullTitle }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ item.aInn }}</td>
                    <td>{{ item.aOgrn }}</td>
                    <td>{{ item.aRegion }}</td>
                    <td>{{ item.aAdrs }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 1 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>Рег. Номер</th>
                <th>Наименование СРО</th>
                <th>Управляющих</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.bNumber }}</td>
                    <td>
                        {% if is_granted('ROLE_SUBSCRIPTION') %}
                            <a href="{{ path('reestr_show',{'type' : item.category, 'id' : item.id}) }}">
                                {{ item.bTitle }}
                            </a>
                        {% else %}
                            <a href="#" style="cursor: not-allowed">
                                {{ item.bTitle }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ item.bCountManager }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 2 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>ФИО</th>
                <th>Рег. номер</th>
                <td>СРО</td>
                <th>Дата<br />регистрации</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>
                        {% if is_granted('ROLE_SUBSCRIPTION') %}
                            <a href="{{ path('reestr_show',{'type' : item.category, 'id' : item.id}) }}">
                                {{ item.cLastName }} {{ item.cFirstName }} {{ item.cSurName }}
                            </a>
                        {% else %}
                            <a href="#" style="cursor: not-allowed">
                                {{ item.cLastName }} {{ item.cFirstName }} {{ item.cSurName }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ item.cNumber }}</td>
                    <td>{{ item.cCpo }}</td>
                    <td>{{ item.cDate |date ('d.m.Y')}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 3 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>Наименование</th>
                <th>Регион</th>
                <th>Адрес</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>
                        {% if is_granted('ROLE_SUBSCRIPTION') %}
                            <a href="{{ path('reestr_show',{'type' : item.category, 'id' : item.id}) }}">
                                {{ item.dFullTitle }}
                            </a>
                        {% else %}
                            <a href="#" style="cursor: not-allowed">
                                {{ item.dFullTitle }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ item.dRegion }}</td>
                    <td>{{ item.dAdrs }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 4 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>Площадка</th>
                <th>Сайт</th>
                <th>Адрес</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>
                        {% if is_granted('ROLE_SUBSCRIPTION') %}
                            <a href="{{ path('reestr_show',{'type' : item.category, 'id' : item.id}) }}">
                                {{ item.eTitle }}
                            </a>
                        {% else %}
                            <a href="#" style="cursor: not-allowed">
                                {{ item.eTitle }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ item.eSite }}</td>
                    <td>{{ item.eFullTitle  }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 5 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>ФИО</th>
                <th>Организация</th>
                <th>Должность</th>
                <th>Дата начала дисквалификации</th>
                <th>Дата окончания дисквалификации</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>
                        {% if is_granted('ROLE_SUBSCRIPTION') %}
                            <a href="{{ path('reestr_show',{'type' : item.category, 'id' : item.id}) }}">
                                {{ item.fFio }}
                            </a>
                        {% else %}
                            <a href="#" style="cursor: not-allowed">
                                {{ item.fFio }}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ item.fworkPlace }}</td>
                    <td>{{ item.fPost  }}</td>
                    <td>{{ item.fDateStart | date('d.m.Y')  }}</td>
                    <td>{{ item.fDateEnd  | date('d.m.Y') }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if type == 7 %}
        <table class="table" style="width: 100%">
            <tr>
                <th>Победитель</th>
                <th>Выйгранных лотов</th>
                <th>Куплено на сумму</th>
                <th>Начальная цена <br />всех лотов</th>
            </tr>
            {% for item in pagination %}
                <tr>
                    <td>{{ item.gWinner }}</td>
                    <td>{{ item.gCountWins  }}</td>
                    <td>{{ item.gAmountBuy }}</td>
                    <td>{{ item.gFirstPrice   }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <nav>
        {{ knp_pagination_render(pagination) }}
    </nav>

{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="show" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Карточка лота</h4>
                </div>
                <div class="modal-body">
                    <div class="content"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" id="tradelink">Перейти на площадку торгов</button>
                    <button class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
